@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1699691080087') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wangyiyunyinle:before {
  content: "\e501";
}

.icon-weibo:before {
  content: "\e608";
}

.icon-github:before {
  content: "\e689";
}

.icon-email:before {
  content: "\e66f";
}

.icon-bx-rss:before {
  content: "\e66d";
}

.icon-bx-run:before {
  content: "\e671";
}

.icon-icon_bilibili:before {
  content: "\e502";
}

.icon-zhihu:before {
  content: "\e6b4";
}

.icon-redbook:before {
  content: "\e647";
}

